{% extends "base.html.twig" %} 
{% block title %}PatesserieDeCharlotte - Accueil
{% endblock  %}

{% block body %}
<div class="container mt-4">
<div class="jumbotron">
  <h1 class="display-4">Bienvenue chez les pâtesserie de Charlotte</h1>
  <p class="lead">Les pâtesseries de Charlotte c'est une application destinée aux personnes
   qui recherchent des recettes de pâtisseries originales, saines et gourmandes.</p>
  <hr class="my-4">
  <p>Vous pouvez profiter des recettes proposées
   par le site ou créer vos propres recettes pour les partager avec la communauté du site.</p>
   <p>Pour créer et partager vos créations, rendez-vous sur la page d'inscription.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
</div>
</div>

{% endblock  %}